.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-color: black;
  border: 1px;
  width: 300px;
}
tr, td, thead, tfoot{
  text-align: center;
  
  justify-content: center;
}
select{
  width: 300px;
  text-align: center;
}

th{
  border-color: black;
  border: 1px;
  justify-content: center;
}

.normal {
  width: 250px;
  border: 1px solid #000;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 20px;
}
.normal th, .normal td {
  border: 1px solid #000;
}


body, html {
  height: 100%;
  background-repeat: no-repeat;
  background: url("https://wallpaperaccess.com/full/6430437.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}

label{
  justify-content: center;
  font-size: 70px;
  color: rgb(255, 255, 255);
  font-family: 'Erica One', cursive;
  text-align: center;
}

.i{
  width: 1515px;
  font-size: 30px;
  text-align: center;
}


